* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.app {
    padding-left: 150px;
    padding-right: 150px;
}

/* Main content */

.sells-header {
    display: flex;
    justify-content: space-between;
    text-align: center;
    font-size: 3rem;
    padding: 10px;
    border: 4px inset lightgrey;
}

.header-side {
    display: flex;
    margin: 0;
    padding: 0;
    height: auto;
    width: auto;
}

.header-side h6, a{
    font-size: .8rem;
    margin: 2px;
}


.product-container {
    display: flex;
    flex-direction: row-reverse;
}

.product-header {
    flex-grow: 0;
    border: 5px outset lightgrey;
    padding: 2;
}

.product-header input {
    border: 2px solid black;
    border-radius: 12px;
    margin: 10px 0;
}

#main-content {
    background-color: #FFD6BA;
    flex-grow: 6;
    height: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    max-width: 369px;
    max-width: 100%;
    margin: .2px;
    border: 4px outset lightgray;
}

#aside-content {
    flex-grow: 2;
    border: 4px outset lightgray;
}

.aside-navigation {
    text-align: center;
    line-height: 5rem;
}

/* .product-section {
    display: flex;
    background-color: white;
    margin: 0 15px;
}

.product-list {
    display: flex;
    background-color: white;
    margin: 10px 0;
    padding: 5px;
    border: 2px solid black;
    border-radius: 3px;
}*/


.main-content-header {
    position: absolute;
    margin: -416px 0 0 589px;
    padding: 0;

}

article {
    background-color: lawngreen;
    width: 100%;
    max-width: 300px;
    border: 2px solid black;
    max-height: 200px;
    margin: 10px;
    padding: 5px;
}

figure {
    margin: 2px;
    max-width: 600px;
    max-height: auto;
}

figcaption {
    padding: 0;
}

.product-item img {
    height: 50px;
    width: 50px;
}

.product-buy-btn p {
    color: red;
    font-size: 2rem;
    font-family: 'Anton', sans-serif;
    text-decoration: blink;
    font-weight: 800;
    animation: blinker 0.8s ease-in-out infinite alternate;
}

@keyframes blinker {
    from {opacity: 1.0;}
    to {opacity: 0.0;}
}