body {
        background-image: url('https://skatronixxx.files.wordpress.com/2016/07/3c611ac327c9cca5e12c42fe4cc845b50e097e2a_hq.jpg?w=610');
        background-repeat: repeat-x;
}

h1 {
    color: red;
    position: relative ;
    top: 360px
}
      
#aside-content {
        flex-grow: 2;
        border-right: 2px solid lightgray;
}
    
.aside-navigation {
        text-align: center;
        line-height: 5rem;
}